@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-image: url('background.jpg');
    font-family: 'Roboto', sans-serif;
}
h1{
    color:red;
}
#highlight{
    color: rgba(0, 63, 9, 0.712);
}
.snap_btn{
    background-color: red;
    border:2px solid red;
    color:white;
    font-size:16px;
    font-weight: bold;
    height:50px;
    width:170px;
    margin-top: 470px;
}
.snap_btn:hover{
    background-color: rgba(0, 63, 9, 0.712);
    border:2px solid rgba(0, 110, 17, 0.712);
}

canvas{
    animation-name: basicAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes basicAnimation{
    from{box-shadow:2px 2px 25px red}
    to{box-shadow:2px 2px 25px rgba(0, 63, 9, 0.712)}
}